<div style="margin-top: 1rem; margin-bottom: 2rem;">
  <h1>Home</h1>
</div>

<div class="row mb-3">
  <div class="col">
    <a href="/proposals/new" class="btn btn-block btn-outline-secondary">
      Create Proposal
    </a>
  </div>
</div>

<div>
  <h2>My Proposals</h2>
  <table class="table table-sm">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Votes</th>
      <th>Comments</th>
      <th>Needs Volunteers</th>
    </tr>
    <% User.where(:id => session[:user_id]).first.proposals.each do |this_proposal| %>
    <tr>
      <td><a href="/proposals/<%= this_proposal.id %>"><%= this_proposal.name %></a></td>
      <td><%= this_proposal.status %></td>
      <td><%= this_proposal.votes.count %></td>
      <td><%= this_proposal.comments.count %></td>
      <td><%= this_proposal.needs_volunteer %></td>
    </tr>
    <% end %>
  </table>
</div>

<div>
  <h2>My Commitments</h2>
  <table class="table table-sm">
    <tr>
      <th>Proposal</th>
      <th>Step</th>
      <th>Status</th>
    </tr>
    <% Step.where(:volunteer_user_id => session[:user_id]).each do |this_commitment| %>
    <tr>
      <td><a href="/proposals/<%= this_commitment.proposal_id %>"><%= this_commitment.proposal.name %></a></td>
      <td><%= this_commitment.name %></td>
      <td><%= this_commitment.status %></td>
    </tr>
    <% end %>
  </table>
</div>

<div>
  <h2>My Activity</h2>
  <table class="table table-sm">
    <tr>
      <th>Proposal</th>
      <th>Comment</th>
      <th>User</th>
      <th>Time</th>
    </tr>

    <% u = User.where(:id => session[:user_id]).first %>
    <% relevant_proposals = u.proposals.pluck(:id) %>
    <% relevant_proposals = relevant_proposals + u.comments.pluck(:proposal_id) %>
    <% relevant_proposals = relevant_proposals + u.votes.pluck(:proposal_id) %>
    <% Comment.where(:proposal_id => relevant_proposals).each do |this_comment| %>
      <tr>
        <td><a href="/proposals/<%= this_comment.proposal_id %>"><%= this_comment.proposal.name %></a></td>
        <td><%= this_comment.comment %></td>
        <td><%= this_comment.user.name %></td>
        <td><%= time_ago_in_words(this_comment.created_at) %> ago</td>
      </tr>
    <% end %>

  </table>
</div>
