<div style="margin-top: 1rem; margin-bottom: 2rem;">
    <h1>
      Edit
    </h1>
</div>

    <form action="/modify_proposal/<%= @proposal.id %>"  method="post" >
      <div class="form-group">
        <label for="name">
          Name
        </label>

        <textarea id="name" name="name" class="form-control"
          rows="3"><%= @proposal.name %></textarea>
      </div>

      <div class="form-group">
        <label for="description">
          Description
        </label>

        <textarea id="description" name="description" class="form-control"
          rows="3"><%= @proposal.description %></textarea>
      </div>

      <div class="form-group">
        <label for="status">
          Status
        </label>

        <input type="text" id="status" name="status" class="form-control" value="<%= @proposal.status %>">
      </div>



        <input type="hidden" id="owned_by_user_id" name="owned_by_user_id" class="form-control" value="<%= @proposal.owned_by_user_id %>">

      <div class="form-group">
        <label for="state">
          State
        </label>

        <input type="text" id="state" name="state" class="form-control" value="<%= @proposal.state %>">
      </div>

      <div class="form-group">
        <label for="zipcode">
          ZIP
        </label>

        <input type="text" id="zipcode" name="zipcode" class="form-control" value="<%= @proposal.zipcode %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Save
      </button>
    </form>
  </div>
</div>

<hr>
