<div style="margin-top: 1rem; margin-bottom: 2rem;">
    <h1>
      Proposals
    </h1>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Status
        </th>

        <th>
          Owned by
        </th>

        <th>
          Location
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @proposals.each do |proposal| %>
      <tr>
        <td>
          <%= proposal.id %>
        </td>

        <td>
          <%= proposal.name %>
        </td>

        <td>
          <%= proposal.description %>
        </td>

        <td>
          <%= proposal.status %>
        </td>

        <td>
          <%= User.where(:id => proposal.owned_by_user_id).first.name %>
        </td>

        <td>
          <%= proposal.city %>,
          <%= proposal.state %> 
          <%= proposal.zipcode %>
        </td>


        <td>
          <%= time_ago_in_words(proposal.updated_at) %> ago
        </td>

        <td>
          <a href="/proposals/<%= proposal.id %>">
            View
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
