<div style="margin-top: 1rem; margin-bottom: 2rem;">
  <h1>Proposals Near Me</h1>
</div>

<div>
  <table class="table table-sm">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Votes</th>
      <th>Comments</th>
      <th>Needs Volunteers</th>
    </tr>
  <% nearby_zips = User.where(:id => session[:user_id]).first.nearby %>
  <% Proposal.where(:zipcode => nearby_zips).each do |this_proposal| %>
    <tr>
      <td><%= this_proposal.name %></td>
      <td><%= this_proposal.city %>, <%= this_proposal.state %> <%= this_proposal.zipcode %></td>
      <td><%= this_proposal.votes.count %></td>
      <td><%= this_proposal.comments.count %></td>
      <td><%= this_proposal.needs_volunteer %></td>
    </tr>
  <% end %>
  </table>
</div>
