<div style="margin-top: 1rem; margin-bottom: 2rem;">
    <h1>
      <%= @proposal.name %>
    </h1>
</div>

<div>
    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @proposal.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @proposal.description %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @proposal.status %>
      </dd>

      <dt>
        Created by
      </dt>
      <dd>
        <%= User.where(:id => @proposal.owned_by_user_id).first.name %>
      </dd>

      <dt>
        State
      </dt>
      <dd>
        <%= @proposal.state %>
      </dd>

      <dt>
        ZIP
      </dt>
      <dd>
        <%= @proposal.zipcode %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@proposal.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@proposal.updated_at) %> ago
      </dd>
    </dl>
</div>

  <div>
    <h2>Steps</h2>
    <table class="table table-sm">
      <tr>
        <th>Step</th>
        <th>Owner</th>
        <th>Status</th>
      </tr>
    <% Step.where(:proposal_id => @proposal.id).each do |the_step| %>
      <tr>
        <td><%= the_step.name %></td>
        <td>
          <% if the_step.volunteer_user_id == nil && session[:user_id] != nil %>
            <form action="/step/<%= the_step.id %>/claim" method="post">
              <input type="hidden" name="form_volunteer_user_id" value="<%= session[:user_id] %>">
              <button class="btn btn-block btn-outline-primary">Volunteer</button>
            </form>
          <% elsif session[:user_id] == nil %>
            <button><a href="/sign_in">Sign in to Volunteer</a></button>
          <% else %>
            <%= the_step.owner %>
          <% end %>
        </td>
        <td><%= the_step.status %></td>
      </tr>
    <% end %>
  </table>
</div>

<div>
  <h2>Comments</h2>
  <table class="table table-sm">

  </table>
</div>


    <% if @proposal.created_by_user.id == session[:user_id] %>

    <div class="row mb-3">
      <div class="col">
        <a href="/proposals/edit/<%= @proposal.id %>" class="btn btn-block btn-outline-secondary">
          Edit
        </a>
      </div>

      <div class="col">
        <a href="/proposals/add_step/<%= @proposal.id %>" class="btn btn-block btn-outline-secondary">
          Add Step
        </a>
      </div>

      <div class="col">
        <a href="/delete_proposal/<%= @proposal.id %>" class="btn btn-block btn-outline-secondary">
          Delete
        </a>
      </div>
    </div>
    <% end %>
