<div style="margin-top: 1rem; margin-bottom: 2rem;">
    <h1>
      <%= @proposal.name %>
    </h1>
    <% if User.where(:id => session[:user_id]).first.following(@proposal.id) == true %>
      <a class="btn btn-block btn-outline-secondary" href="/unfollow/<%= @proposal.id %>/<%= session[:user_id] %>">Unfollow</a>
    <% else %>
      <a class="btn btn-block btn-primary" href="/follow/<%= @proposal.id %>/<%= session[:user_id] %>">Follow</a>
    <% end %>
</div>

<div>
    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @proposal.description %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @proposal.status %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= User.where(:id => @proposal.owned_by_user_id).first.name %>
      </dd>

      <dt>
        State
      </dt>
      <dd>
        <%= @proposal.state %>
      </dd>

      <dt>
        ZIP
      </dt>
      <dd>
        <%= @proposal.zipcode %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@proposal.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@proposal.updated_at) %> ago
      </dd>
    </dl>

    <% if @proposal.owned_by_user_id == session[:user_id] %>

    <div class="row mb-3">
      <div class="col">
        <a href="/proposals/edit/<%= @proposal.id %>" class="btn btn-block btn-outline-secondary">
          Edit
        </a>
      </div>

      <div class="col">
        <a href="/delete_proposal/<%= @proposal.id %>" class="btn btn-block btn-outline-secondary">
          Delete
        </a>
      </div>
    </div>
    <% end %>

</div>

  <div>
    <h2>Steps</h2>
    <table class="table table-sm">
      <tr>
        <th>Step</th>
        <th>Owner</th>
        <th>Status</th>
      </tr>
    <% Step.where(:proposal_id => @proposal.id).each do |the_step| %>
      <tr>
        <td><%= the_step.name %></td>
        <td>
          <% if the_step.volunteer_user_id == nil && session[:user_id] != nil %>
            <form action="/step/<%= the_step.id %>/claim" method="post">
              <input type="hidden" name="form_volunteer_user_id" value="<%= session[:user_id] %>">
              <button class="btn btn-block btn-outline-primary">Volunteer</button>
            </form>
          <% elsif session[:user_id] == nil && the_step.volunteer_user_id == nil %>
            <a class="btn btn-block btn-outline-primary" href="/sign_in">Sign in to Volunteer</a>
          <% else %>
            <%= the_step.owner %>
          <% end %>
        </td>
        <% if the_step.status != "done" && (the_step.volunteer_user_id || @proposal.owned_by_user_id) == session[:user_id] %>
          <td>
            <form action="/step/<%= the_step.id %>/done" method="post">
              <button class="btn btn-block btn-outline-secondary">
                Mark as Done
              </button>
            </form>
          </td>
        <% else %>
          <td><%= the_step.status %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% if @proposal.owned_by_user_id == session[:user_id] %>

    <a href="/proposals/add_step/<%= @proposal.id %>" class="btn btn-block btn-outline-secondary">
      Add Step
    </a>

  <% end %>

</div>

<div style="margin-bottom: 2rem; margin-top: 1rem;">
  <h2>Comments</h2>
  <table class="table table-sm">
    <tr>
      <th>Comment</th>
      <th>Author</th>
      <th></th>
      <th></th>
    </tr>
    <% Comment.where(:proposal_id => @proposal.id).each do |the_comment| %>
    <tr>
      <td><%= the_comment.comment %></td>
      <td><%= User.where(:id => the_comment.user_id).first.name %></td>
      <% if the_comment.user_id == session[:user_id] %>
      <td>
        <a href="/comments/<%= the_comment.id %>" class="btn btn-block btn-outline-secondary">Edit</a>
      </td>
      <td>
        <a href="/delete_comment/<%= the_comment.id %>" class="btn btn-block btn-outline-secondary">Delete</a>
      </td>
      <% elsif @proposal.owned_by_user_id == session[:user_id] %>
      <td>
        <a href="/delete_comment/<%= the_comment.id %>" class="btn btn-block btn-outline-secondary">Delete</a>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% if session[:user_id].present? %>
<a href="/proposals/<%= @proposal.id %>/comment" class="btn btn-block btn-outline-primary">Add Comment</a>
<% else %>
<a href="/sign_in" class="btn btn-block btn-outline-primary">Sign in to Comment</a>
<% end %>
</div>
